<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="ThemeWagon" />
<meta name="Description" content="Responsive Multiporpuse HTML5 Website Template">
<meta name="keywords" content="El Salvador, Centro Terapeutico de Adicciones, Eduado Loyola, vkings.net">
<title>{% block title %}CTA El Salvador |{% endblock %}</title>
{% block stylesheets %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset('resources/ctaelsalvador/assets/css/main.css') }}">
<link rel="stylesheet" href="{{ asset('resources/ctaelsalvador/assets/css/font-awesome.min.css') }}">
</head>
{% endblock %}
<body>
{% block navbar %}
{{ include('web/navbar.html.twig') }}
{% endblock %}
{% block contenido %}{% endblock %}
{% block footer %}
{{ include('web/footer.html.twig') }}
{% endblock %}
</body>
{% block javascripts %}{% endblock %}
