.banner{
    background-color: #323232;
    height: 290px;
    position:relative;
}

.banner-it{
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    display: absolute;
}

.banner-ib{
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    display: absolute;
}

.banner.modelo{
    padding-top: 165px;
}

.banner.team{
    padding-top: 64px;
}

.banner.testimonio{
    padding-top: 70px;
}

.banner.gallery{
    padding-top: 60px;
}

.banner.llegar{
    padding-top: 50px;
}