.banner{
    background-color: #323232;
    height: 290px;
    position:relative;
}

.banner-it{
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    display: absolute;
}

.banner-ib{
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.llegar{
    padding-top: 50px;
}

.modelo{
    padding-top: 138px;
}

.team{
    padding-top: 50px;
}

.testimonio{
    padding-top: 70px;
}

.gallery{
    padding-top: 40px;
}

@media (max-width: 991px) {
    .banner{
        background-color: #323232;
        height: 210px;
        position:relative;
    }

.banner-it{
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0rem;
        display: absolute;
    }
    
    .banner-ib{
        margin-top: 65px;
        width: 290px;
        height: 104px;
        
    }
    
    .llegar{
        padding-top: 70px;
        width: 290px;
    }
    
    .modelo{
        padding-top: 135px;
        width: 290px;
    }
    
    .team{
        padding-top: 100px;
        width: 290px;
    }
    
    .testimonio{
        padding-top: 80px;
        width: 290px;
    }
    
    .gallery{
        padding-top: 65px;
        width: 290px;
    }
}
