.banner-index{
    background-color: #323232;
}

.banner-it{
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    display: absolute;
    z-index: 30;
}

.banner-ib{
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    display: absolute;
    z-index: 20;
}

.banner-team{
    color: #fff;
    padding-top: 3.4rem;
    background-color: #323232;
}

.banner-gallery{
    color: #fff;
    padding-top: 3.4rem;
    background-color: #323232;
}

.banner-t{
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    display: absolute;
}

.banner-modelo{
    color: #fff;
    padding-top: 6rem;
    background-color: #323232;
    padding-bottom: 0;
}

.banner-testimonio{
    color: #fff;
    padding-top: 6rem;
    background-color: #323232;
    padding-bottom: 0;
}

.banner-llegar{
    color: #fff;
    padding-top: 6rem;
    background-color: #323232;
    padding-bottom: 0;
}