footer{
    background-color: #0a3344;
    color: #fff;
}

#copyright{
    font-size: 0.8rem;
    background-color: #125b7b;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
}

.logo-footer{
    height: 6.5rem;
    float: left;
}

.footer-text{
    padding-left: 120px;
}

.footer-ml-icon{
    display: inline-block;
    color: #fff;
    margin-left: 10px;
}

.footer-contact{ 
    display: inline-block;
    font-size: 1rem;
    text-align: right;
}

.footer-text{
    font-size: 0.9rem;
}

.footer-contact-title{
    display: block;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 5px;
}