.logo-nav{
    height: 40px;
    display: inline;
}

.nav-link{
    line-height: 60px;
    font-weight: 500;
    color: #b6c2c7 !important;
    display: inline;
}

.nav-link:hover{
    font-weight: 500;
    color: #fff !important;
    transition: ease 0.5s  all;
}