.banner-team{
    height: 18rem;
    background-image: url("../../../../images/team/team-sample.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
