@import url('https://fonts.googleapis.com/css?family=Poppins:300,500');
@import url('https://fonts.googleapis.com/css?family=Imprima');

/* 'Imprima', sans-serif; */

$border-default: 1px #c6c6c6 solid;
$border-section: 1px #f7f7f7 solid;
$font-title: 'Imprima', sans-serif;
