@import url("https://fonts.googleapis.com/css?family=Poppins:300,500");
@import url("https://fonts.googleapis.com/css?family=Imprima");
.banner {
  background-color: #323232;
  height: 290px;
  position: relative; }

.banner-it {
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  display: absolute; }

.banner-ib {
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px; }

.llegar {
  padding-top: 50px; }

.modelo {
  padding-top: 138px; }

.team {
  padding-top: 50px; }

.testimonio {
  padding-top: 70px; }

.gallery {
  padding-top: 40px; }

@media (max-width: 991px) {
  .banner {
    background-color: #323232;
    height: 210px;
    position: relative; }

  .banner-it {
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    display: absolute; }

  .banner-ib {
    margin-top: 65px;
    width: 290px;
    height: 104px; }

  .llegar {
    padding-top: 70px;
    width: 290px; }

  .modelo {
    padding-top: 135px;
    width: 290px; }

  .team {
    padding-top: 100px;
    width: 290px; }

  .testimonio {
    padding-top: 80px;
    width: 290px; }

  .gallery {
    padding-top: 65px;
    width: 290px; } }
.logo-nav {
  height: 40px;
  display: inline; }

.nav-link {
  line-height: 60px;
  font-weight: 500;
  color: #b6c2c7 !important;
  display: inline; }

.nav-link:hover {
  font-weight: 500;
  color: #fff !important;
  transition: ease 0.5s  all; }

::-moz-selection {
  background: #0a3344;
  color: #ffffff; }

::selection {
  background: #0a3344;
  color: #ffffff; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #666666;
  font-weight: 300; }

@media (max-width: 1024px) {
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #666666; } }
h1 {
  font-family: "Imprima", sans-serif;
  font-size: 2em;
  color: #000;
  padding-bottom: 5px; }

h2 {
  font-family: "Imprima", sans-serif;
  font-size: 1.8em;
  color: #000;
  padding-bottom: 5px; }

h3 {
  font-family: "Imprima", sans-serif;
  font-size: 1.5em;
  color: #000;
  padding-bottom: 5px; }

h4 {
  font-family: "Imprima", sans-serif;
  font-size: 1.3em;
  color: #000;
  padding-bottom: 5px; }

h5 {
  font-family: "Imprima", sans-serif;
  font-size: 1em;
  color: #000;
  padding-bottom: 5px; }

h6 {
  font-family: "Imprima", sans-serif;
  font-size: 0.8em;
  color: #000;
  padding-bottom: 5px; }

section {
  border-top: 1px #f7f7f7 solid;
  padding-top: 25px;
  padding-bottom: 25px; }

.card-box {
  padding-bottom: 25px; }

.card-model {
  border: 1px #c6c6c6 solid;
  border-radius: 5px; }

.card-model .card-content {
  padding-top: 15px;
  background-color: #fff; }

.card-model-title {
  /* background-image: url("../images/model/terapia-familiar-cta.jpg"); 
  background-repeat: no-repeat; 
  float: right;
  background-position: right; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 70px;
  border-bottom: 1px #c6c6c6 solid; }

.card-model h3 {
  color: #fff;
  position: relative;
  text-align: left;
  line-height: 70px; }

.icon-valores {
  display: inline-block;
  font-size: 1rem;
  float: left;
  margin-right: 0.5rem;
  color: #000; }

.section-header {
  padding-top: 70px;
  padding-bottom: 70px; }

.block-valores {
  text-align: left; }

.block-valores-content {
  display: inline-block; }

.min-banner-top {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 500;
  text-align: right;
  background-color: #0A3344;
  line-height: 1.8rem; }

@media (max-width: 1024px) {
  .min-banner-top {
    font-size: 0.8rem;
    color: #fff;
    font-weight: 500;
    text-align: right;
    background-color: #0A3344;
    line-height: 1.8rem; } }
.logo-title {
  margin: 5px 0px 10px 0px;
  text-decoration: none;
  color: #666666; }

.testimonial-content {
  margin-top: 2rem; }

.testimonial-title h3 {
  font-size: 1.3em;
  font-family: "Imprima", sans-serif;
  display: inline; }

.testimonial-title span {
  font-size: 1.3em;
  font-family: "Imprima", sans-serif;
  display: inline; }

.img-gallery {
  margin-bottom: 1.5rem; }

/* Scroll en navBar */
div.scrollmenu {
  overflow: auto;
  white-space: nowrap; }

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none; }

footer {
  background-color: #0a3344;
  color: #fff; }

#copyright {
  font-size: 0.8rem;
  background-color: #125b7b;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 35px; }

.logo-footer {
  height: 6.5rem;
  float: left; }

.footer-text {
  font-size: 0.9rem;
  padding-left: 120px; }

.footer-ml-icon {
  display: inline-block;
  color: #fff;
  margin-left: 10px; }

.footer-contact {
  display: inline-block;
  font-size: 0.9rem;
  text-align: right; }

.footer-contact-title {
  display: block;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 2rem; }

@media (max-width: 768px) {
  .footer-contact {
    display: inline-block;
    font-size: 0.9rem;
    text-align: left;
    padding-left: 15px; }

  .footer-text {
    font-size: 0.9rem;
    padding-left: 0px; } }
.card-title {
  padding-bottom: 0;
  margin-bottom: 5px;
  margin-left: 10px; }

.card-subtitle {
  color: #6f6f6f;
  margin-bottom: 10px;
  margin-left: 10px; }

.card-icon {
  float: left;
  margin-left: 10px;
  color: #000; }

.card-icon-text {
  color: #000;
  display: block;
  margin-left: 35px; }

.card-text {
  display: block;
  margin-left: 35px;
  margin-bottom: 5px; }

/*# sourceMappingURL=main.css.map */
