{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | ¿Cómo llegar?{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner llegar">
    <div class="container text-center">
        <img style="width: 500px; height: auto" src="{{ ('images/banner/como-llegar/como-llegar.png') }}" />
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}

<style>
    #map {
     height: 400px;
     width: 100%;
    }
</style>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 13.706249, lng: -89.250806 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 19,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp-NrBJYnLwA1ZheSxxL3EyOgaPxRrBWw&callback=initMap">
    </script>
    {% endblock %}  
