{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Equipo Terapeútico{% endblock %}
{% block contenido %}
<div class="banner-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title-banner">
               <p>Equipo Terapéutico</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}    
