{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Galería{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner-gallery">
    <div class="container">
        <div class="row">
            <img class="banner-t img-fluid" style="width: 500px; height: auto" src="{{ ('images/banner/galeria/galeria.png') }}" />
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% endblock %}