{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Inicio{% endblock %}
{% block contenido %}
{# Módelo | PC #}
<section class="section-header">
    <div class="container">
        <h1 class="padding-bottom-1 col-lg-12">Módelo Ambulatorio</h1>
        <div class="col-lg-12">
            En el Centro Terapéutico de Adicciones desarrollamos programas 100% ambulatorios, es decir que NO hay ningún tipo de internamiento. Nuestros programas se desarrollan de manera paralela y simultánea (paciente-familia), donde se brindan las herramientas necesarias para retomar y lograr obtener una vida equilibrada, racional y consciente, superando a través de estas sus distintas problemáticas. En nuestra institución buscamos integrar en un mismo lugar y tiempo, la asistencia profesional y técnica requerida, con comunicación abierta entre los distintos profesionales, tanto internos como externos, teniendo así todos un mismo objetivo y criterio.
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,1)">
                        <h3>Terapia Familiar</h3>
                    </div>
                    <div class="container card-content">
                        <p>A través de esta consejería se proporciona orientación y asesoría a los familiares de los pacientes, facilitándoles herramientas que les lleven a establecer medidas prácticas y efectivas en la comunicación y el manejo de situaciones con el familiar afectado.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,0.9)">
                        <h3>Terapia Psicológica</h3>
                    </div>
                    <div class="container card-content">
                        <p>Esta terapia está encaminada a modificar el comportamiento del paciente para que reduzca o elimine el consumo de drogas o adicciones en general, para que éste adquiera habilidades de afrontamiento que le permitan evitar recaídas.</p>
                        <p>Para lograr estos objetivos se utilizan técnicas esenciales para modificar el comportamiento del paciente, es decir, que aumenta el conocimiento de sus creencias, emociones y conductas, a modo que logre un crecimiento positivo de su persona, mejore la comunicación y convivencia con los miembros de su familia, sociedad y pares.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,0.8)">
                        <h3>Evaluación Psiquiátrica</h3>
                    </div>
                    <div class="container card-content">
                        <p>Inmediatamente después de la aceptación de asistencia por parte del paciente y su familia, se refiere al paciente con un médico especialista para que le realice una evaluación integral, con el propósito de conocer las condiciones que presenta (si las hubiere), para que de esta manera, el médico pueda contar con la información necesaria para realizar un diagnóstico, contando nosotros con esta información, podamos elaborar un plan de tratamiento personalizado.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,0.7)">
                        <h3>Consejería Terapéutica</h3>
                    </div>
                    <div class="card-content">
                        <ol>
                            <li>Establecer una relación de ayuda con la persona en tratamiento, caracterizada por la cordialidad, respeto, claridad y empatía.</li>
                            <li>Facilitar el compromiso del usuario con el tratamiento y el proceso de recuperación, motivando sus cambios, así como, el que continúe con el programa.</li>
                            <li>Obtener que la persona en tratamiento establezca metas realistas y alcanzables a fin de que pueda lograr y mantener su recuperación.</li>
                            <li>Intervenir y promover el conocimiento, las destrezas y actitudes de la persona en tratamiento, que contribuyen a un cambio positivo en los comportamientos relacionados con el consumo de sustancias.</li>
                            <li>Trabajar adecuadamente con la persona en tratamiento, a efecto de que continúe su progreso en las metas establecidas, alejándose de los obstáculos con que se pueda encontrar.</li>
                            <li>Reconocer cómo, cuándo y por qué involucrar a las personas significativas para enriquecer o apoyar el plan de tratamiento.</li>
                            <li>Facilitar el desarrollo de las destrezas básicas de habilidades para la vida asociadas a la recuperación.</li>
                            <li>Dar respuestas constructivas cuando el comportamiento de las personas en tratamiento no ha logrado las metas de recuperación establecidas.</li>
                            <li>Aplicar destrezas para el manejo de crisis, estudiando y practicando los métodos más adecuados para cada adicción.</li>
                            <li>Facilitar que la persona en tratamiento conozca los signos de la adicción y domine las destrezas y las actitudes necesarias para mantener el progreso del tratamiento y prevenir la recaída.</li>
                        </ol>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,0.6)">
                        <h3>Grupos Familiares</h3>
                    </div>
                    <div class="container card-content">
                        <p>Es un espacio en donde se encuentran miembros de diferente familia con un mismo problema en común, la adicción y el consumo de drogas de algún familiar. Los familiares comparten experiencias y son orientados para mejorar su forma de comunicación y manejo de las situaciones críticas, desarrollando habilidades efectivas de afrontamiento.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,0.5)">
                        <h3>Grupos Institucionales</h3>
                    </div>
                    <div class="card-content">
                        <p class="container">Espacios que el Centro Terapéutico ha facilitado para que personas puedan reunirse y compartir sus distintas experiencias (Autoayuda), contamos puntualmente con dos:</p>
                        <ol>
                            <li>Autoayuda para usuarios o pacientes. (lunes, miércoles y viernes de 6:00 – 8:00 pm)</li>
                            <li>Autoayuda para madres y esposas. (solo mujeres) (martes de 6:00 – 8:00 pm)</li>
                        </ol>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,0.4)">
                        <h3>Talleres Formativos</h3>
                    </div>
                    <div class="card-content">
                        <p class="container">Grupos guiados por especialistas, con la finalidad de poder desarrollar temas de interés que resulten de formación y educación dentro de los distintos procesos de cambio. Contamos puntualmente con dos:</p>
                        <ol>
                            <li>Taller Psicoeducativo. (martes de 5:00 – 6:00 pm)</li>
                            <li>Taller de Prevención de Recaída. (jueves de 5:00 – 6:00 pm)</li>
                        </ol>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 card-box">
                <div class="card-model">
                    <div class="card-model-title container" style="background-color: rgba(1,51,64,0.3)">
                        <h3>Actividades Complementarias</h3>
                    </div>
                    <div class="card-content">
                        <p class="container">Grupos guiados por especialistas, con la finalidad de poder desarrollar temas de interés que resulten de formación y educación dentro de los distintos procesos de cambio. Contamos puntualmente con dos:</p>
                        <ol>
                            <li>Cine Fórums</li>
                            <li>Talleres Psicoterapéuticos para Pacientes</li>
                            <li>Talleres Psicoterapéuticos para Familiares</li>
                            <li>Paseos culturales, deportivos y recreativos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}    
