<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a href="{{ path('homepage') }}" class="menuzord-brand">
        <img style="height: 40px;" src="{{ asset('resources/ctaelsalvador/assets/images/ctaelsalvador-logo.png') }}" alt="ctaelsalvador-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{ path('homepage') }}">Inicio<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="{{ path('model') }}">Modelo</a>
        </div>
    </div>
</nav>