<section id="topNavBar" class="nav-wrapper transparent red">
<div class="container-fluid">
<div id="menuzord" class="menuzord red">
<a href="{{ path('homepage') }}" class="menuzord-brand">
    <img style="height: 52px;" src="{{ asset('resources/ctaelsalvador/assets/images/ctaelsalvador-logo.png') }}" alt="ctaelsalvador-logo">
</a>
<ul class="menuzord-menu">
<li class="active"><a href="{{ path('homepage') }}">Inicio</a></li>
<li><a href="{{ path('model') }}">Módelo Ambulatorio</a></li>
{#
<li><a href="#">Equipo Terapéutico</a></li>
<li><a href="#">¿Con quiénes trabajamos?</a>
    <ul class="dropdown">
        <li><a href="#">Colaborador 1</a></li>
        <li><a href="#">Colaborador 1</a></li>
        <li><a href="#">Colaborador 1</a></li>
        <li><a href="#">Colaborador 1</a></li>
        <li><a href="#">Colaborador 1</a></li>
        <li><a href="#">Colaborador 1</a></li>
    </ul>
</li>
<li><a href="#">Contáctanos</a></li>
#}
<li style="height: 1px" class="scrollable-fix">
</li>
</ul>
</div>
</div>
</section>