{% extends 'layout.html.twig' %}
{% block title %}CTA El Salvador | Testimonios{% endblock %}
{% block contenido %}
{% block banner %}
{{ include('banner.html.twig') }}
{% block bcontent %}
<div class="banner-index">
    <div class="container">
        Testimonios
    </div>
</div>
{% endblock %}
{% endblock %}
{% block navbar %}
{{ include('navbar.html.twig') }}
{% endblock %}
{% endblock %}